.card {
  background-color: $gray-lightest;
  max-width: 400px;
  padding: 25px;
  margin: 25px;
  border: 2px solid $gray-dark;
  border-radius: 15px;
}

.card__title {
  padding: 10px;
}

.card__body {
  padding: 10px;
}

.card__img {
  padding: 10px;
}
