{% if card %}
  <div class="card">
    {% if card.title %}<h2 class="card__title">{{ card.title }}</h2>{% endif %}

    {% if card.img %}{{ card.img }}{% endif %}

    {% if card.body %}<section class="card__body">{{ card.body }}</section>{% endif %}
  </div>
{% endif %}
